<!DOCTYPE html>
<html>
  <head>
    <title>Galeria</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


    <%= yield %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "breakpoints.min" %>
    <%= javascript_include_tag "browser.min" %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "main" %>
    <script src="https://kit.fontawesome.com/0e5993ce45.js" crossorigin="anonymous"></script> 
  </body>
</html>
